<div id="wrapper">
  <div id="shopping-list">
    <div id="list">
      <h2>Shopping List</h2>

      <ul>
        <li *ngFor="let shopping of shoppingItems | async" (click)="deleteItem(shopping.id)">
          {{ shopping.name }}
      <!--  autre option  <li *ngFor="let shopping of shoppingItems | async | keyvalue">
          {{ shopping | json}}-->
          <br><br>
        </li> 
      </ul>
    </div>

    <form (ngSubmit)="addItem()">
      <input type="text" [(ngModel)]="newShoppingItem2.name" placeholder="fais ta liste" name="itemName"/>
      <button type="submit" >+</button>
    </form>
  </div>
</div>